<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:label="${CHATFLOW_DEBUG_LABEL}"
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic,android:label" />
</manifest>
